
<%= simple_form_for(@verifier) do |f| %>
        <%= f.error_notification %>


  <%= f.label :bottle_id, required: true %>
  <%= f.text_field :bottle_id, required: true %>

  <%= f.label :patient_id, required: true %>
  <%= f.text_field :patient_id, required: true %>

   <div class="waves-effect waves-light btn" >
            <%= f.button :submit, "verify" %>
  </div>
<% end %>