<% if @active_bottles.empty? %>
  <h4>There are no bottles in the system at this time.</h4>
<% else %>
  <h4>Active Bottles</h4>
<div class="row">
  <div class="col s9 center">
  <div class="card">
        <div class="card-content">

  <table class="striped highlight centered">
    <thead>
      <th>Bottle</th>
      <th>Patient</th>
      <th>Collected Date</th>
      <th>Expiration Date</th>
      <th class="align_center">Options</th>
    </thead>
    <% for bottle in @active_bottles %>
      <tr>
        <td><%= link_to "#{bottle.id}", bottle_path(bottle) %></td>
        <td><%= "#{bottle.patient.proper_name}"%></td>
        <td><%= "#{bottle.collected_date.strftime("%Y/%m/%d %I:%M %p")}"%></td>
        <td><%= "#{bottle.expiration_date.strftime("%Y/%m/%d %I:%M %p")}"%></td>
        <% if can? :edit, Bottle %>
        <td class="align_center">
          <%= link_to edit_bottle_path(bottle) do %>
              <i class="material-icons">edit</i>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp; 
          <%= link_to(bottle_path(bottle), method: :delete, data: { confirm: 'Are you sure you wish to discharge this bottle without verification?' }) do %>
              <i class="material-icons">delete</i>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </table>
  <br />
  <%= will_paginate @active_bottles, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>
<p>&nbsp;</p>

    </div>
</div>


 </div>
</div>
<% end %>