<%= form_with(model: @user, local: true) do |f| %>

	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :username, "Username" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
	<% if can? :create, User %>
  <p>
    <%= f.label :role %><br />
    <%= f.select :role, User::ROLES, :prompt => "Select ..." %>
  </p>
  <% end %>
	
  <p class="waves-effect waves-light btn"><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
